/Assets/*.DS_Store
/UserSettings
/.vscode
/Library
/Logs
/unityvideoplayer.sln
/Assembly-CSharp.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
